<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

  <!-- Bootstrap CSS -->
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css' integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS' crossorigin='anonymous'>

  <title>TinyApp - My URLs</title>
</head>
<body>
  <% include ./partials/_header %>
  <% if (!user) { %>
    <% include ./partials/_loginRequired %>
  <% } else { %>
  <main style='margin: 1em;'>
    <div>
    <h3 class="d-inline m-3">My URLs</h3>
    <form method='GET' class='float-right form-inline mb-3' action='/urls/new'>
      <div class='button'>
        <button type='submit' class='btn btn-success'>Create New URL</button>
      </div>
    </form>
  </div>
    <table class="table table-condensed" style="border-collapse:collapse;">
      <thead>
        <tr>
          <th>Short URL</th>
          <th>Long URL</th>
          <th>Created</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for(let url in urls) { %>
          <tr data-toggle="collapse" data-target="#url-<%= url %>" class="accordion-toggle">
            <td scope='col'>
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse<%= url %>" aria-expanded="true" aria-controls="collapse<%= url %>">
                <%= url %>
              </button>
            </td scope='col'>
            <td scope='col'><%= urls[url].longURL %></td>
            <td scope='col'><%= moment(urls[url].createdDate).format('YYYY-MM-DD HH:mm [UTC]'); %></td>
            <td scope='col'>
              <form method='GET' action='/urls/<%= url %>'>
                <div class='button'>
                  <button type='submit' class='btn-lg btn-outline-primary'>Edit</button>
                </div>
              </form>
            </td>
            <td scope='col'>
              <form method='POST' action='/urls/<%= url %>?_method=DELETE'>
                <div class='button'>
                  <button type='submit' class='btn-lg btn-outline-danger'>Delete</button>
                </div>
              </form>
            </td>
          </tr>
          <tr>
            <td colspan="5" class="hiddenRow">
              <div id="url-<%= url %>" class="accordian-body collapse">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Guest Cookie Id</th>
                      <th>Visit Date</th>
                    </tr>
                  </thead>
                  <tbody>
                      <% const list = listVisits(url,urls) %>
                      <% for (const visit of list) { %>
                        <% for (const key in visit) { %>
                    <tr>
                      <td><%= key %></td>
                      <td><%= moment(visit[key]).format('YYYY-MM-DD HH:mm [UTC]'); %></td>
                    </tr>
                    <% } %>
                  <% } %>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </main>
  <% } %>
  <% include ./partials/_footer %>
  <!-- Bootstrap JS -->
  <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous'></script>
  <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous'></script>
</body>
</html>